body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100%;
    overflow-x: hidden;
}

.upper-blue {
    background-color: #203cbc;
}

.middle-part {
    background-color: #14161c;
}


footer {
    background-color: #203cbc;
}


header {
    max-width: 1220px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo {
    position: relative;
    top: 0px;
    left: 51px;
    width: 130px;
    padding:15px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    margin-right: 700px;
}

.header-content .top-right{
    position: absolute;
    top: 40px;
    right: 40px;
    align-items: center;
    display: flex;
}

.language-selector {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.language-icon img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.language-text img {
    width: 15px;
    height: 15px;
    margin-left: 8px;
}

.header-content .top-right .login-button{
    color: #fff;
    padding: 10px 17px 10px 17px;
    border: 1.5px solid #fff;
    border-radius: 5px;
}

.header-content .top-right .signup-button{
    color: #203cbc;
    background-color: #fff;
    padding: 10px 17px 10px 17px;
    border: 1.5px solid #fff;
    border-radius: 5px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    max-width: 1080px;
    color: #fff;
    padding: 50px 70px;
    text-align: left;
    position: relative;
    height: 500px;
}

.hero-content h2 {
    font-size: 2.5em;
    width: 700px;
    box-sizing: border-box;
}

.hero-content .animated {
    opacity: 0;
    text-align: center;
    transform: translateY(-50px);
    animation: slideInFade 1s forwards;
}

@keyframes slideInFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content p {
    color: #bbb;
    width: 700px;
    box-sizing: border-box;
    line-height: 1.7;
}


.hero-content .app-buttons a{
    margin: 10px;
}

.phone-image{
    margin-right: 40px;
    transform: scale(1.3);
    width: 200px;
    position: absolute;
    bottom: -10px;
    right: 20px;
}

.features-header{
    max-width: 1220px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}


.features {
    max-width: 1220px;
    display: flex;
    color: #fff;
    padding-left: 20px;
    text-align: center;
}

.feature {
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    margin: 50px;
    width: 300px;
}

.feature p{
    color: #bbb;
}

.feature img {
    width: 50px;
}

.video-on-new {
    max-width: 1220px;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.video-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.video-text {
    max-width: 550px;
    padding: 50px;
    border-radius: 10px;
    text-align: left;
    color: #bbb;
    line-height: 1.7;
    flex: 1;
}
  
.advantages {
    list-style-type: none;
    padding: 0;
}
  
.advantages li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
    color: #fff;
    line-height: 1.2;
}
  
.arrow {
    position: absolute;
    left: 0;
    top: 0;
}

.my-video {
    height: auto;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    flex: 1;
    object-fit: contain; 
}


.footer-content {
    max-width: 1220px;
    color: #bbb;
    padding: 20px;
    text-align: center;
    display: flex;
    line-height: 1.7;
}

.description {
    text-align: left;
    max-width: 400px;
    margin-right: 100px;
}

.description p {
    flex: 1;
}

.footer-logo {
    width: 150px;
    padding:15px;
    background-color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.footer-logo2 {
    display: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 100px;
}

.footer-links h2 {
    color: #fff;
}

.footer-links a {
    color: #bbb;
    padding-top: 20px;
    text-decoration: none;
}

.footer-right {
    text-align: left;
}

.social-links {
    color: #fff;
}

.social-links .buttons {
    align-items: right;
    display: flex;
    height: 170px;
}
.social-links .buttons a {
    align-items: center;
    height: 40px;
    padding: 20px 5px;
    color: #fff;
}

.social-links .buttons img {
    height: 40px;
}


@media screen and (min-width: 1208px) {
    header, .hero, .features, .video-on-new, .features,
    .features-header, .footer-content{
        margin-inline: auto;
    }

    .header-content {
        display: flex;
    }
    .header-content .top-right{
        position: relative;
        top: 19px;
        right: 15px;
    }
}

@media screen and (max-width: 1039px) {
    .hero {
        text-align: center;
    }

    .hero-content h2 {
        width: auto;
        font-size: 2em;
    }
    
    .hero-content p {
        width: auto;
        text-align: left;
    }


    .phone-image {
        display: none;
    }

    .hero {
        height: 500px;
    }

}

@media screen and (max-width: 1000px)  {
    .features {
        overflow-x: auto;
        white-space: nowrap;
    }
    
    .feature {
        flex: 0 0 auto;
        min-width: 200px;
        box-sizing: border-box;
    }
    .video-content{
        flex-direction: column;
        align-items: center;
    }
    
    .video-text {
        order: 2;
        max-width: 700px;
        padding: 30px;
    }
    
    .my-video {
        order: 1;
        width: 100%;
        max-width: 700px;
    }

    /* .my-video {
        height: auto;
        max-width: 700px;
        display: block;
        margin: 0 auto;
        flex: 1;
        object-fit: contain; 
    } */

    /* .video-text {
        max-width: 550px;
        padding: 30px;
        border-radius: 10px;
        text-align: left;
        color: #bbb;
        line-height: 1.7;
        flex: 1;
    } */
}

@media screen and (max-width: 730px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        padding: 20px 0px 0px 0px;
        width: 100%;
        max-width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        display: none;
    }
    
    .footer-logo2 {
        display: inline;
        width: 150px;
        padding: 15px;
        border-radius: 0px 10px 10px 0px;
    }

    .description {
        text-align: center;
        width: 100%;
        max-width: auto;
        justify-content: center;
        margin-right: 0px;
    }
    
    .footer-links {
        text-align: center;
        width: 100%;
        max-width: auto;
        justify-content: center;
        margin-right: auto;
    }

    .footer-right {
        text-align: center;
        width: 100%;
        max-width: auto;
    }

    .social-links .buttons {
        display: flex;
        justify-content: center;
        height: 100px;
    }
    
    .social-links .buttons {
        align-items: center;
        display: flex;
    }
}


@media screen and (max-width: 640px) {

    
    .header-content .logo {
        width: 100px;
    }


    .app-buttons a {
        display: inline-block;
    }
    
    .app-buttons a img {
        width: 150px;
        height: auto;
    }

}

@media screen and (max-width: 550px) {
    
    .language-icon img {
        display: none;
    }
    
    .header-content .top-right {
        top: 10px;
        right: 20px;
    }

    .header-content .top-right .login-button {
        padding: 7px 2px 7px 2px;
        border: 1px solid #fff;
    }
    
    .header-content .top-right .signup-button {
        padding: 7px 2px 7px 2px;
        border: 1px solid #fff;
    }

    .hero {
        height: 550px;
    }

    .hero-content .app-buttons a {
        margin: 0px;
    }

    .features-header {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 400px) {

    .header-content .logo {
        left: 20px;
        width: 70px;
        padding:15px;
    }

    .hero {
        padding: 50px 20px;
    }

    .features-header {
        font-size: 0.7em;
    }

    .features {
        padding-left: 0px;
    }
    
    .feature {
        margin: 40px;
    }

    .video-on-new {
        padding: 0px 20px;
    }

    
    .video-text {
        padding: 20px;
    }
}